.toggle-button {
    display: inline-block;
    margin: 5px;
}

.toggle-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.0);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: none;
    min-width: 200px;
    color: rgb(198, 202, 224);
}

.toggle-button.on {
    background: rgba(198, 202, 224, .8);
    color: white;
    opacity: 0.8;
}

.toggle-button.off {
    opacity: 0.8;
}

.toggle-button:hover {
    background: rgba(198, 202, 224, 0.0);
    color: white;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-container {
    position: fixed;
    bottom: 10px;
    z-index: 1000;
}

.toggle-button-container.left {
    left: 10px;
}

.toggle-button-container.right {
    right: 10px;
}

.toggle-button-container.center {
    left: 50%;
    transform: translateX(-50%);
}

.toggle-button .update-indicator {
    color: #ff9800;
    margin-left: 5px;
    font-size: 1.2em;
    vertical-align: middle;
}

.toggle-button.has-updates {
    position: relative;
}

.update-indicator {
    margin-right: 8px;
    color: #ff8c00; /* Orange color */
}